<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>localhost:8080</string>
		<key>Key</key>
		<string>host</string>
		<key>Title</key>
		<string>SABnzbd+ hostname:port</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>apikey</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>API Key</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
